.container {
  width: 100%;
  height: 80px;
  background-color: lightgray;
  display: flex;
}
@media (max-width: 640px) {
  .container {
    display: none;
  }
}

@media (min-width: 641px) {
  .mobileNav_container {
    display: none;
  }
}
.mobileNav_container {
  width: 100%;
  height: 80px;
  background-color: lightgray;
  position: relative;
}

.nav_links_ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin-right: 10%;
  margin-top: 0;
  width: 70%;
}

.nav_links_ul > li {
  margin-right: 25px;
  letter-spacing: 1.5px;
  font-weight: 3px;
  margin-top: 30px;
}

.mobileNavIcons {
  display: flex;
  list-style-type: none;
  align-items: center;
  position: absolute;
  right: 6%;
  top: 10%;
}
.mobileNavIcons > li {
  margin-right: 20px;
}
.brightness_icon {
  height: 25px;
  width: 25px;
}
.brightness_icon:hover {
  cursor: pointer;
}

.space_maker {
  width: 30%;
}

.hamburger {
  cursor: pointer;
  width: 30px;
  height: 30px;
}
